<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<title>Insert title here</title>
</head>
<body>
  	<div class="container">
		<input name="targetDt" id="targetDt" value="20220619">
		<button type="button" id="btnBoxOffice">검색</button>
		<div id="divBoxOffice">
			<div class="movie row" style="display : none">
				<div class="col-2">2</div>
				<div class="col-10">범죄도시 2</div>
			</div>
		</div>
		<div id="divMovieInfo" style="display:none">
			<div class="row">
				<div class="col-2">런닝타임:</div>
				<div class="col-10 showTm">104</div>
			</div>
			<div class="row">
				<div class="col-2">개봉일:</div>
				<div class="col-10 openDt">20220615</div>
			</div>
			<div class="row">
				<div class="col-2">actors:</div>
				<div class="col-10"><div class="row actors">크리스 에반스,타이카 와이티티,피터 손</div></div>
			</div>
			<div class="row">
				<div class="col-2">directors:</div>
				<div class="col-10"><div class="row directors">앵거스 맥클레인</div></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	function(){
		
	}	
	</script>

</body>
</html>